#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.form-paper {
  display: flex;
  /* align-items: center; */
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.form-action {
  margin-top: 10px;
}

.calendar {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  gap: 10px;
}

.week-names {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
  padding: 5px;
}

.week-days {
  flex: 1;
}

.week {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.day {
  flex: 1;
  height: 150px;
  border: 1px solid;
  padding: 5px;
  border-radius: 4px;
  box-sizing: border-box;
}

.day:first-child {
  margin-left: 10px;
}

.day:last-child {
  margin-right: 10px;
}

.week:last-child .day {
  margin-bottom: 10px;
}

.events {
  height: calc(162px - 56px);
  width: 158px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.event-title {
  width: 100%;
  border-radius: 4px !important;
  cursor: pointer !important;
}

.event-title:hover {
  background-color: gainsboro;
}

.calendar-header {
  margin: 15px 0px !important;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calendar-navigation {
  display: flex;
  gap: 10px;
}
